@model IEnumerable<Pass.Models.Pwd>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create") @Html.ActionLink("Back to List", "Index")
</p>

There are no accounts of this type.
